<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="./css/about.css">
  </head>
  <body>
    <div>
      <h1 class="title">Quienes somos:</h1>
    </div>
    <div class="container">
      <a class="btn btn-primary" href="/">Volver</a>
      <h2>¡Hola! Mi nombre es Antonio R. Rodriguez Gramajo.</h2>
      <p>Mi usuario de GitHub es "antorrg".</p>

      <h2>Quien soy:</h2>
      <p>Soy un programador fullstack.</p>
      <p>Desde hace mucho tiempo me interesó la programación pero no fue hasta el día que encontré una oportunidad de estudiar en "Soy Henry" que esto pudo hacerse realidad.</p>

      <h2>Qué hago:</h2>
      <p>Actualmente me dedico a realizar proyectos de frontend y backend que me permiten avanzar en mi formación como programador.</p>

      <h2>Mi objetivo:</h2>
      <p>Es mi intención poder dedicarme de tiempo completo a la programación y además poder también compartir mis conocimientos con aquellos que están dando sus primeros pasos en esta maravillosa profesión.</p>
      <a class="btn btn-primary" href="#">Volver arriba</a>
    </div>

    <div class="container">
      <h2>Qué tecnologías utilizo:</h2>
      <div class="skillsContainer">
        <p>
          <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40">
          </a>
          <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="css3" width="40" height="40">
          </a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="javascript" width="40" height="40">
          </a>
          <a href="https://reactjs.org/" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40">
          </a>
          <a href="https://redux.js.org" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg" alt="redux" width="40" height="40">
          </a>
          <a href="https://nodejs.org" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="40" height="40">
          </a>
          <a href="https://expressjs.com" target="_blank" rel="noreferrer">
            <img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1675637255386/f3a9a38b-116d-4b35-8f46-8d8abb78166f.png?w=1600&h=840&fit=crop&crop=entropy&auto=compress,format&format=webp" alt="express" width="50" height="30">
          </a>
          <a href="https://sequelize.org" target="_blank" rel="noreferrer">
            <img src="https://cdn.freebiesupply.com/logos/large/2x/sequelize-logo-png-transparent.png" width="40" height="40" alt="Sequelize logo">
          </a>
          <a href="https://www.postgresql.org" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg" alt="postgresql" width="40" height="40">
          </a>
          <a href="https://git-scm.com/" target="_blank" rel="noreferrer">
            <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40">
          </a>
          <a href="https://www.linux.org/" target="_blank" rel="noreferrer">
            <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg" alt="linux" width="40" height="40">
          </a>
          <a href="https://www.gnu.org/software/bash/" target="_blank" rel="noreferrer">
            <img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" width="40" height="40">
          </a>
        </p>
      </div>
      <h2>¡No dudes en contactarme!</h2>
      <div class="links">
        <p align="left">
          <a href="https://linkedin.com/in/antonio-ricardo-rodriguez-gramajo-9b4342277/" target="_blank">
            <img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="antonio-ricardo-rodriguez-gramajo-9b4342277/" height="30" width="40">
          </a>
          <a href="https://twitter.com/antonio198511" target="_blank">
            <img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/twitter.svg" alt="antonio198511" height="30" width="40">
          </a>
        </p>
      </div>
      <a class="btn btn-primary" href="#">Volver arriba</a>
    </div>
  </body>
</html>
