<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" type="image/svg" href="/images/favicon.svg" />
    <link rel="stylesheet" href="css/showAlert.css">
    <link rel="stylesheet" href="css/contact.css">
  </head>
  <body>
    <section class="container">
      <div>
        <h2>Contacteme:</h2>
      </div>
      <div class="contactForm">
        <form id="contactForm">
          <div class="row">
            <div class="col-md-12">
              <input class="form-control my-2" name="email" id="email" type="email" placeholder="Su email...">
              <p id="errorEmail" class="error"></p>
            </div>
            <div class="col-md-12">
              <input class="form-control my-2" name="subject" id="subject" type="text" placeholder="Asunto...">
              <p id="errorSubject" class="error"></p>
            </div>
            <div class="col-md-12">
              <textarea class="form-control my-2" name="message" id="message" placeholder="Su mensaje..."></textarea>
              <p id="errorMessage" class="error"></p>
            </div>
          </div>
          <button id="submitButton" type="submit" disabled>Enviar</button>
        </form>
      </div>
      <button id="cancelButton" type="button">Cancelar</button>
    </section>
    <script src="/js/showAlert.js"></script>
    <script src="/js/contact.js"></script>
  </body>
</html>
