doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="Antorrg. Antonio Ricardo Rodriguez Gramajo")
    meta(name="generator" content="Hugo 0.104.2")
    title Antorrg
    link(rel="icon", href="/images/favicon.png")
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/carousel.css" rel="stylesheet")
    style.
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }
      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
  body(style="padding-top: 4.5rem;")
    header
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .container-fluid
          p.navbar-brand(href="#") Antorrg
          button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse(id="navbarCollapse")
            ul.navbar-nav.me-auto.mb-2.mb-md-0
              li.nav-item
                a.nav-link.active(aria-current="page" href="/acerca") Sobre mi:
              li.nav-item
                a.nav-link(href="/contacto") Contacteme:
    main
      #myCarousel.carousel.slide(data-bs-ride="carousel")
        .carousel-indicators
          button(type="button", data-bs-target="#myCarousel", data-bs-slide-to="0", class="active", aria-current="true", aria-label="Slide 1")
          button(type="button", data-bs-target="#myCarousel", data-bs-slide-to="1", aria-label="Slide 2")
          button(type="button", data-bs-target="#myCarousel", data-bs-slide-to="2", aria-label="Slide 3")
        .carousel-inner
          .carousel-item.active
            img(src="images/proyectoCarrusel1.png" class="d-block w-100" alt="Rick and Morty 2024")
            .container
              .carousel-caption.text-start
                h1 Rick and Morty.
                p Este es mi primer sitio web, encontrará más detalles abajo.
                p
                  a.btn.btn-lg.btn-primary(href="https://rick-and-morty2024.vercel.app/" target="_blank") Visite el sitio"
          .carousel-item
            img(src="images/proyectoCarrusel2.png" class="d-block w-100" alt="Gameworld eccomerce")
            .container
              .carousel-caption
                h1 Gameworld e-commerce.
                p Un e-commerce realizado por el equipo de estudiantes de Henry.
                p
                  a.btn.btn-lg.btn-primary(href="https://gameworldeccomerce.vercel.app" target="_blank") Visite el sitio
          .carousel-item
            img(src="images/proyectoCarrusel3.png" class="d-block w-100" alt="Boscarol Hnos")
            .container
              .carousel-caption.text-end
                h1 Boscarol Hnos.
                p Landing page y  administración de vehículos y clientes para un taller mecánico.
                p
                  a.btn.btn-lg.btn-primary(href="https://deployprueba.vercel.app" target="_blank") Visite el sitio
        button.carousel-control-prev(type="button", data-bs-target="#myCarousel", data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous
        button.carousel-control-next(type="button", data-bs-target="#myCarousel", data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next
      .container.marketing
        .row
          each inf in info
            .col-lg-4
              img.bd-placeholder-img.rounded-circle(src=inf.logo, width="140", height="140", alt="Placeholder")
              h2.fw-normal= inf.title
              p= inf.infoHeader
              p
                a.btn.btn-secondary(href=`/detalles/${inf.id}`) Ver detalles &raquo;
        hr.featurette-divider
        .row.featurette
          .col-md-7
            h2.featurette-heading.fw-normal.lh-1 First featurette heading.
              span.text-muted It’ll blow your mind.
            p.lead Some great placeholder content for the first featurette here. Imagine some exciting prose here.
          .col-md-5
            svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width="500", height="500", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 500x500", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#eee")
              text(x="50%", y="50%", fill="#aaa", dy=".3em") 500x500
        hr.featurette-divider
        .row.featurette
          .col-md-7
            h2.featurette-heading.fw-normal.lh-1 One more for good measure.
              span.text-muted And lastly, this one.
            p.lead And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.
          .col-md-5
            svg.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto(width="500", height="500", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: 500x500", preserveAspectRatio="xMidYMid slice", focusable="false")
              title Placeholder
              rect(width="100%", height="100%", fill="#eee")
              text(x="50%", y="50%", fill="#aaa", dy=".3em") 500x500
    footer.text-muted.py-5
      .container
        p.float-end.mb-1
          a(href="#") Volver arriba
        p.mb-1 Esta es una copia de boostrap pronto le vamos a cambiar el nombre.
        p.mb-0
          | New to Bootstrap?
          a(href="/") Visit the homepage
  script(src="/js/bootstrap.bundle.min.js")
