extends ../../layouts/adminLayout.pug
include ../../mixins/imageUpload.pug

block content 
  .container.mt-5 
    h1.mb-4 Nuevo item 

    form#createForm.needs-validation(novalidate)
      .row 
        .col.mb-6.mb-3
          +imageUpload('fileItem', 'Imagen', 'itemPreview', 'itemUrl', '' )
      .mb-3 
        label.form-label(for="text") Texto 
        textarea.form-control(id="text" name="text" rows="3" required)
      .spinner-container(style="display:none; text-align: center; margin-top: 20px;")
      input(type="hidden" id="id" name="id" value = pageId)

      button.btn.btn-md.me-3.btn-primary(type="button" id= "submitButton") Crear
      a.btn.btn-md.me-3.btn-secondary(href=`/admin/page/${pageId}`) Volver
    script( src = "/js/adminEdition/itemCreate.js")
