extends ../../layouts/adminLayout.pug
include ../../mixins/imageUpload.pug

block content
  .container.mt-5
    h1.mb-4 Creación de Proyecto

    form#createPageForm.needs-validation(novalidate)
      .row
        .col-md-6.mb-3
          +imageUpload('fileLogo', 'Logo', 'logoPreview', 'logoUrl', '' )
          +imageUpload('fileLanding', 'Landing', 'landingPreview', 'landingUrl', '')
        
        .mb-3
          label.form-label(for="title") Titulo:
          input.form-control(id="title" name="title" value="" required )
      
        .mb-3
          label.form-label(for="info_header") Info_header:
          textarea.form-control(id="info_header" name="info_header" rows="3" required)

        .mb-3
          label.form-label(for="info_body") Info_body:
          textarea.form-control(id="info_body" name="info_body" rows="3" required)

        .mb-3
          label.form-label(for="url") Url:
          input.form-control(id="url" name="url" value="" required)
      
        .mb-3
          label.form-label(for="enable") Enable:
          select.form-select(id="enable" name="enable" required)
            option(value="true") True
            option(value="false" ) False
      .spinner-container(style="display:none; text-align: center; margin-top: 20px;")
      .items-container
        h2 Items: 
        .itemCreate
          .row 
            .col.mb-6.mb-3
              +imageUpload('fileItem0', 'Imagen', 'item0Preview', 'item0Url', '' )
        
            .mb-3 
            label.form-label(for="text0") Texto  
            textarea.form-control(id="text0" name="items[0][text]" rows="3" required)

            .col.mb-6.mb-3
              +imageUpload('fileItem1', 'Imagen', 'item1Preview', 'item1Url', '' )
        
            .mb-3 
            label.form-label(for="text1") Texto  
            textarea.form-control(id="text1" name="items[1][text]" rows="3" required)

            .col.mb-6.mb-3
              +imageUpload('fileItem2', 'Imagen', 'item2Preview', 'item2Url', '' )
        
            .mb-3 
            label.form-label(for="text2") Texto  
            textarea.form-control(id="text2" name="items[2][text]" rows="3" required)

        .d-flex.justify-content-between.mb-3
        button.btn.btn-primary.me-2.mb-3(type="button" id= "submitButton") Crear
        a.btn.btn-primary.me-2.mb-3(href=`/admin`) Volver
      script(src='/js/adminEdition/pageCreate.js')


   

